{% extends 'scheduler/base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body_block %}
<h1>Login to NatcoApp</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form id="login_form" method="post" action="{% url 'scheduler:login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="login" />
</form>

{% endblock %}
