{% extends 'scheduler/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Cambia tu contraseña{% endblock %}
{% block page-header  %}Cambia tu contraseña{% endblock %}
{% block body-class %}password{% endblock %}

{% block body_block %}
<div class="container-fluid">
    <div class="row form">
        {{ form.old_password.errors.as_text }}
        {{ form.new_password1.errors.as_text }}
        {{ form.new_password2.errors.as_text }}
        {{ form.non_field_errors.as_text}}
        <form method="post" action="{% url 'scheduler:password_change' %}">
            {% csrf_token %}
            <label for"id_old_password" class="col-xs-4">Contraseña antigua</label>
            {{ form.old_password|add_class:"col-xs-8" }}
            <label for"id_new_password1" class="col-xs-4">Contraseña nueva</label>
            {{ form.new_password1|add_class:"col-xs-8" }}
            <label for"id_new_password2" class="col-xs-4">Confirmar nueva contraseña</label>
            {{ form.new_password2|add_class:"col-xs-8" }}
            <input type="submit" value="enviar">
        </form>
    </div>
</div>

{% endblock %}
