{% extends 'scheduler/base.html' %}

{% load staticfiles %}

{% block title %}{{ fecha }}{% endblock %}
{% block page-header %}Feedback{% endblock %}

{% block body_block %}

<form method="post" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
        <tr>
            <td colspan=2>{{ form.evento.value}}</td>
        </tr>
        {{ form }}
        {% endfor %}
        <tr>
            <th colspan=2>&nbsp;</th>
        </tr>
        {{ eform }}
    </table>
    <input type="submit", value="Enviar">
</form>

{% endblock %}
