{% extends 'scheduler/base.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}Perfil{% endblock %}
{% block page-header %}
{% comment %}
            <img src="{% get_media_prefix %}{{user.persona.foto}}" alt="Imagen de perfil" width="120" class="img-responsive img-circle center-block"/><br/>
{% endcomment %}
Hola {{user.person.nombre}} 
{% endblock %}
{% block body-class %}inicio{% endblock %}
{% block body_block %}
<div class="fluid-container">
    <div class="row">
        <div class="col-xs-12" >
        <p> Bienvenido a Starway 2016, el #MejorEventoDelAño. De parte del OC y de AIESEC en Colombia esperamos tengas una experiencia maravillosa en este evento.</p>
        <p>Consulta tu habitación y tus roommates dando <a href="{% url "scheduler:habitacion" %}">click aquí</a></p>
        <p>Para consultar tu horario y tus sesiones da <a href="{% url "scheduler:horario" %}">click aquí.</a></p>
        <p>Para cambiar tu contraseña da <a href="{% url 'scheduler:password_change' %}?next=/app/">click aquí</a></p>
        </div>
    </div>
</div>

{% endblock %}
