{% extends 'scheduler/base.html' %}

{% load staticfiles %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block page-header  %} 
<img src="{% get_media_prefix %}{{persona.foto}}" alt="No hay foto" width="120" class="img-responsive img-circle center-block" />
{{persona.user.first_name}} {{persona.user.last_name}}  {% endblock %}
{% block body-class %}perfil{% endblock %}

{% block body_block %}
{% if request.user.persona.rol.esConference and not persona.user.estaRegistrado %}
<p>Este delegado no se encuentra registrado aún.<a href="{% url "scheduler:registrar" pk=persona.pk %}"> Registrar persona</a></p>
{% endif %}
<table class="table">
    <tr>
        <td>Correo electrónico</td>
        <td>{{persona.user.email}}</td>
    </tr>
    <tr>
        <td>Cargo</td>
        <td>{{persona.cargo}}</td>
    </tr>
    <tr>
        <td>Celular</td>
        <td>{{persona.celular}}</td>
    </tr>
    <tr>
        <td>LC</td>
        <td>{{persona.lc}}</td>
    </tr>
    {% if request.user.persona.rol.esConference %}
    <tr><td>&nbsp; </td><td></td></tr>
    <tr>
        <td colspan=2><strong>Admin</strong></td>
    </tr>
    <tr>
        <td>Habitación</td>
        <td>{{persona.habitacion.numero}}</td>
    </tr>
    <tr>
        <td>Cédula</td>
        <td>{{persona.cedula}}</td>
    </tr>
    <tr>
        <td>Rol</td>
        <td>{{persona.rol.tipo}}</td>
    </tr>
    <tr>
        <td>Bus</td>
        <td>{{persona.bus}}</td>
    </tr>
    {% endif %}
</table>


{% endblock %}
