{% extends 'scheduler/base.html' %}

{% load staticfiles %}

{% block title %}Registro - {{ usuario.first_name }} {% endblock %}
{% block page-header  %}  {% endblock %}
{% block body_block %}
{% if persona.estaRegistrado %}
<p>{{ persona.user.first_name }} {{ persona.user.last_name }} ya está registrada. <a href="{% url 'scheduler:persona' persona.pk %} ">Ver perfil</a></p>
{% else %}
<img src="{{ persona.foto.url }}" alt="foto" class="img-responsive"/>
<p>Deseas registrar a {{ persona.user.first_name }} {{ persona.user.last_name}}?</p>
<form action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    <input type="submit" value="Registrar"/> 
</form>
{% endif %}
{% endblock %}
