{% extends "admin/change_form.html" %}
{% load staticfiles %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
<script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript">
    addEvent(window, "load", function(e) { SelectFilter.init("id_ocupantes", "ocupantes", 0, "{% static 'admin/' %}"); });
</script>
{% endblock %}
